*{
  margin: 0%;
  padding: 0%;
}

html, body{
  height: 100%;
}

body{
  width: 100%;
  height: 100vh;
  position:relative;
  background: linear-gradient(rgba(2,0,36,1) 10%, rgba(9,9,121,0.9613095238095238) 50%, rgba(0,212,255,1) 80%, rgba(255, 255, 255, 0.907) 100%); /*background sem completar*/
  background-repeat: no-repeat;

}  

header{
  margin: 0px 0px 2px;
  padding: 0px 58px;
  position: fixed;
  width: calc(100% - 20px);
  box-shadow: 0px 10px 14px -5px rgba(0, 0, 0, 0.9);
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 100px;
  flex-direction: row;
}

nav button{
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
}

main{
  height: calc(100%-20%);
}

h1 h2 h3 {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #FFF;
}

section{
  position: relative;
  left: 2.5%;
  text-align: center;
  width: 90%;
  height: 400px;
  margin-bottom: 4%;
}

#principal{ 
  top: 100px;
  color: white;
}

.informativa{
  display: flex;
  margin-top: 4%;
}

picture{
  margin-top: 0%;
  margin-left: 3%;
  justify-content: center;
  display: flex;
  width: 40%;
  height: 85%;
}

.descritiva{
  margin-top: 0%;
  margin-left: 0%;
  width: 50%;
  height: 80%;
}

#services-slider{
  top: 110px;
}

#sobre{
  top: 120px;
  border: 5px solid red; 

}

.container-services-slides{ 
  display: flex;
  padding-top: 4%;
  padding-left: 2%;
}

.container-services-slides:hover > :not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

/*
ul{
  display:none;

} */
 
ul:hover > :not(:hover){
  display:flex; /*verificar*/

}
.container-services-slides input{
  display: none;
}

.item-slide{
  transition: .35s;
  cursor: pointer;
  color: #FFF;
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 16%; 
  margin-right: 2%;
  padding-top: 2%;
  border-radius: 8%;
  background-color: rgba(16, 15, 15, 0.466);
}

b{
  justify-content: center;
}

li{
  display: flex;
  justify-content: center;
}

p{
  text-align: justify;
}